<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IKV" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="tcp://localhost:7000/RemoteKV.soap"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IKV"
                contract="Broker.IBroker" name="NetTcpBinding_IKV1"/>
      <endpoint address="tcp://localhost:7001/RemoteKV.soap"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IKV"
                contract="Broker.IBroker" name="NetTcpBinding_IKV2"/>
    </client>
    <services>
      <service name="Broker.Broker">
        <endpoint address="" binding="netTcpBinding" contract="Broker.IBroker">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/Design_Time_Addresses/Broker/Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>