<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBroker" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/Design_Time_Addresses/Broker/Service/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroker"
                contract="Broker1.IBroker" name="NetTcpBinding_IBroker1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8001/Design_Time_Addresses/Broker/Service/"
                  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroker"
                  contract="Broker1.IBroker" name="NetTcpBinding_IBroker2">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>