<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.runtime.remoting>
      <application>
        <lifetime leaseTime="0" renewOnCallTime="2S" leaseManagerPollTime="1S" />
        <channels>
          <channel ref="tcp" port="7001" rejectRemoteRequests="false" />
        </channels>
        <service>
          <wellknown type="Storage.KV, Storage" mode="Singleton" objectUri="RemoteKV.soap" />
        </service>
      </application>
    </system.runtime.remoting>
</configuration>